
/*/////////ico pessoa///////////////////////*/


html,body {
    font-family: OCR A Std, monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    margin: 20px;
  
    
  }
  
  body{
  
    border: 0px solid black;
    border-radius: 60px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
   padding: 10px;
   margin: 180px;
   margin-top: 10px;
  
   background-color: #F2F0FA;
  }
  
  html{
    margin-bottom: 100px;
    background-color: #E6E3F6;
  
  }
  .content {
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0;
    align-items: center;
    background-color: #F2F0FA;
    border-radius: 60px;
  }
  
  .list-menu {
  
    display: flex;
    align-items: center;
    list-style: none; /* Remove os marcadores padrão */
  }
  
  .list-menu a {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove o sublinhado do link */
    color: #B5B2C6;
    font-family: OCR A Std, monospace;
    font-size: 35px;
    border-radius: 10px;
  }
  
  .content .list-menu li a:hover {
      
      
    transition: 1.0s ease;
    color: #9e9bad;
    
  }
  
  .ico-pessoa {
    position: relative; /* Necessário para o posicionamento do menu suspenso */
  }
  
  .dropdown-menu {
    display: none; /* Oculta o menu por padrão */
    position: absolute;
    top: 100%; /* Posiciona abaixo do ícone */
    left: 50px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    width: 90px;
    
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #ffffff;
    color: rgb(139, 130, 130);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    transition: background-color 0.3s;
    font-family: OCR A Std, monospace; 
    
  }
  
  .dropdown-menu button:hover {
    background-color: #83aedb;
   
  }
  
  .show-menu .dropdown-menu {
    display: block; /* Mostra o menu quando a classe 'show-menu' está ativa */
  }
  
  /*///////////////fim ico pessoa///////////////*/
    
    .content h1 {
      position: relative; /* Ou absolute, fixed, etc. */
      top: 20px; /* Ajusta a posição vertical */
      left: 40px; /* Ajusta a posição horizontal */
      color: #B5B2C6;
      font-family: OCR A Std, monospace; /*font do H1*/
  font-size: 45px;
  width: 100%;
    }
  
    .content img{
      position: relative;
      top: 20px;
      left: 30px;
      height: 90px;
  
    }
  
  
   /*//////////////////Fim do menu//////////////*/
  
   /*///////////// Conteúdo //////////////*/
  
  

   hr{

    border: 1px transparent rgb(102, 131, 228); /* Cor e espessura da linha */
    width: 100%; /* Faz o <hr> ocupar toda a largura disponível */
    

   }
  
   form{
  
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
  width: 620px;
  height: 500px;
  justify-content: center;

  padding: 50px;
  color:#B5B2C6 ;
  font-size: 30px;
  font-family: OCR A Std, monospace;

  border-radius: 60px;
  
  position: relative;
  top: 170px;
  left: 0px;
  

 
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
   }
  

   
 

  /*/////////opções do input//////////*/

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  
}

.input-group label {
  margin-right: 10px;
  white-space: nowrap;
}

.input-group input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-right: 10px; /* Espaço entre o input e o dropdown */
 

}

.input-group .dropdown {
  position: relative;
  
}

.input-group select {
  padding: 10px;
  font-size: 16px;
 border: none;
  border-bottom: 2px solid #ada3a3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  appearance: none; /* Remove a aparência padrão do select */
  background: transparent;
  position: relative;
 font-family: OCR A Std, monospace;
  z-index: 2;

  width: 500px;
}

.input-group .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #007bff;
  transform: translateY(-50%);
  pointer-events: none; /* Ignora eventos de clique na seta */
}

.input-group select:focus + .dropdown-arrow {
  border-top-color: #0056b3;
}


/*/////////Fim das opções do input//////////*/

  
  /*img da tela principal*/
  .cont{
  
    display: flex;
   
  
  }
  
  .container-img img{
  
    position: relative;
  top: 40px;
  left: 0px ;
  width: 950px;
  
  }

  .parteA{

    position: relative;

  left: 50px;

  }

.imagemPross{

  background: none;
  border: none;
  position: absolute;
  top: 443px;
  left: 570px;

}

.imagemPross img{

width: 50px;

}

#mensagem {

  position: absolute; /* Posiciona a mensagem em relação ao form */
  top: 500px; /* Ajuste a distância do topo do formulário */
  left: 270px; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Centraliza corretamente */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
 
  padding: 10px; /* Espaçamento interno */
 
  border-radius: 5px; /* Bordas arredondadas opcional */
  
font-size: 20px;

}


  /*//////////////////////////// Parte que deixa responsivo/////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////*/
  
  
  @media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
  
    html,body {
      font-family: OCR A Std, monospace;
      margin: 0;
      padding: 0;
      height: auto;
     
      width: auto;
      margin: 20px;
    
      
    }
    
    body{
    
      border: 0px solid black;
      border-radius: 60px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     padding: 10px;
     margin: 10px;
     margin-top: 10px;
     height: 1400px;
    width:400px ;
     background-color: #F2F0FA;
    }
    
    html{
      margin-bottom: 100px;
      background-color: #E6E3F6;
    
    }

    .list-menu a {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; /* Remove o sublinhado do link */
      color: #B5B2C6;
      font-family: OCR A Std, monospace;
      font-size: 20px;
      
    }

    .content h1 {
      position: relative; /* Ou absolute, fixed, etc. */
      top: 2px; /* Ajusta a posição vertical */
      left: 25px; /* Ajusta a posição horizontal */
      color: #B5B2C6;
      font-family: OCR A Std, monospace; /*font do H1*/
  font-size: 15px;
  width: 100%;
    }

     /*Conteúdo*/

     .container-img img{

      height: 300px;
      width: 300px;
      position: absolute;
      top: 150px;
      left: 70px;

     }

    .parteA {

      position: relative;
      left: 0px;
      
    }

    form{

      position: relative;
      top: 400px;
      left: 30px;

    }

    #form-cadastro{
      height: 500px;
      width:240px;

    }

    .input-group select {
    
    
      width: 250px;
    }

    .imagemPross{

      background: none;
      border: none;
      position: absolute;
      top: 500px;
      left: 250px;
    
    }

    #mensagem {

      position: absolute; /* Posiciona a mensagem em relação ao form */
      top: 500px; /* Ajuste a distância do topo do formulário */
      left: 140px; /* Centraliza horizontalmente */
      transform: translateX(-50%); /* Centraliza corretamente */
      z-index: 1000; /* Para garantir que fique acima de outros elementos */
     
      padding: 10px; /* Espaçamento interno */
     
      border-radius: 5px; /* Bordas arredondadas opcional */
      
    font-size: 15px;
    
    }
    

  }



  
  